*/*
!input/*
till_*
*_old*
test*

!results/FP*
!fingerprintmatching_includefiles/*
!*.mat
!juliaenv/*
$*
~*
PickleJar/netload_components_1980-1982.pickle
PickleJar/netload_components_1980-1984.pickle
PickleJar/netload_components_1980-1986.pickle
PickleJar/netload_components_1980-1989.pickle
input/cap_ref_ref3.xlsx
*requirements_*.txt
